# SPDX-FileCopyrightText: 2020 2014-2020 The Khronos Group Inc.
#
# SPDX-License-Identifier: CC-BY-4.0

[submodule "glTF-Sample-Models"]
	path = glTF-Sample-Models
	url = git@github.com:KhronosGroup/glTF-Sample-Models.git
